<!doctype html >
<html ng-app="neobiApp">
  <head>
    <title>RazorFlow Quick Start</title>
    <link rel="stylesheet" type="text/css" href="css/razorflow.min.css">
    <link rel="stylesheet" type="text/css" href="css/neobi.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/razorflow.min.js"></script>
    <script type="text/javascript" src="js/razorflow.devtools.min.js"></script>
    <!--<script type="text/javascript" src="js/dashboard_app.js"></script>-->
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="lib/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="lib/ng-file-upload/ng-file-upload.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-controller="AppCtrl">
    <!--<div style="background-color: #000000; height: 100px"/>-->
    <div class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>Neo BI</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                        data-toggle="dropdown">
                  Integrar
                  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="integrar()">Conta Azul</a></li>
                  <li><a href="#" ng-click="integrar()">Zeropaper</a></li>
                  <li><a href="#" ng-click="importarCsv()">Arquivo CSV vendas</a></li>
                </ul>
              </div>
            </li>
            <!--<li><a href="#" ng-click="kpi()">KPI</a> </li>-->
            <!--<li><a href="#" ng-click="dashboard()">Dashboard</a> </li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row" ng-class="showFileBox">
          <div class="col-md-4">
            Arquivo CSV de vendas:
            <div ngf-drop ngf-select ng-model="fileVendas" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                 accept="text/csv"
                 ngf-pattern="'text/csv'">{{fileVendasLabel}}</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
          </div>
          <div class="col-md-4">
            Arquivo CSV de estoque:
            <div ngf-drop ngf-select ng-model="fileEstoque" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                 accept="text/csv"
                 ngf-pattern="'text/csv'">{{fileEstoqueLabel}}</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary" ng-click="integrarArquivos()">Executar integração</button>
          </div>
        </div>
        <div class="row" ng-class="showDash">
          <div id="dbTarget" style="position:relative;" class="rf" ng-class="showDash"></div>
        </div>
      </div>
    </div>
  </body>
</html>